[2015-11-26 05:43] stevejenkins opened #27 "despf.sh fails to follow "redirect" in SPF records"
# dig txt facebook.com | grep spf1
    facebook.com.           43931   IN      TXT     "v=spf1 redirect=_spf.facebook.com"```

However,

    ./despf.sh facebook.com

yields no result.

Nor does:

    /despf.sh _spf.facebook.com

:(

[2015-11-26 15:19] stevejenkins opened #28 "despf.sh allows invalid CIDR ranges as output"
This isn't technically a "bug" in despf.sh, in that it's doing what it's supposed to do: query the DNS and spit out the IP addresses and CIDR ranges.

This is an enhancement request to do some sort of validation checking on the CIDR range before outputting it. For example, when I run despf.sh against outlook.com (or even just against _spf-ssg-b.microsoft.com, which is one of the include: statement

[2015-11-26 17:28] stevejenkins commented on #28
Perhaps Bill Cole's suggestion of using perl might help, or at least nudge you in the right direction?

http://thread.gmane.org/gmane.mail.postfix.user/253287/focus=253331

[2015-11-28 07:29] stevejenkins opened #29 "despf.sh fails to retrieve IP addresses from some domains"
I'm not sure of the cause, but some domains's SPF records seem to cause despf.sh to not recursively search the include: hosts.

For example:

[code]

However:

[code]

but if you query one of the hosts listed in the SPF record:

[code]

It should display those same IP addresses (and many more) when ebay.com is queried.

[2015-11-28 17:09] jsarenik commented on #29
Thanks for report, I am able to reproduce it. Let me have a look and write back when I know what's the problem there.

[2015-11-28 17:56] jcbf commented on #28
I'm working a shell script just for the cleanup. I'm reusing code sent to @stevejenkins . I'll send a pull-request in a few hours.

[2015-11-28 18:09] jsarenik commented on #27
Thanks! I didn't cope with redirects before and that's why it hasn't been implemented yet.

[2015-11-28 18:10] jsarenik commented on #28
@jcbf :+1:

[2015-11-29 01:31] stevejenkins commented on #29
Awesome. Thanks! I wish I were a better scripter/programmer... I'd do a pull request and fix it myself. But I'm best at finding bugs, not fixing them. LOL. :)

[2015-11-29 04:13] stevejenkins opened #33 "despf.sh fails silently"
If despf.sh is run against an invalid domain or a domain with no SPF records (such as example.com) it "fails" silently.

Something in the way it exits after not returning any values (I'm presuming it's by virtual of the line ```trap "cleanup $loopfile; exit 1;" INT QUIT```) causes a script that relies on despf.sh (such as https://github.com/stevejenkins/postwhite/) to exit in that case, rather tha

[2015-11-29 08:41] jsarenik commented on #29
I am unable to reproduce with latest `master` including @jcbf 's changes. Can you please check?

[code]

[2015-11-29 09:09] jsarenik commented on #27
@stevejenkins what about the patch in https://github.com/jsarenik/spf-tools/commit/268f889362c8e249840c936f68b38e3425db566c ?

[2015-11-29 09:09] jsarenik commented on #27
[code]

[2015-11-29 09:10] jsarenik commented on #27
[code]

[2015-11-29 09:15] jsarenik commented on #33
@stevejenkins What about the fix?

[2015-11-29 09:18] jsarenik commented on #28
@stevejenkins thanks for reporting this issue and sharing the link!

[2015-11-29 09:20] jsarenik commented on #29
@stevejenkins no problem you can not fix it yourself. Reporting is very important! Thank you!

[2015-11-29 14:58] itxpress opened #36 "Allow for cloudflare Automatic TTL"
The TTL is hardcoded at 1800 (which is certainly reasonable), but many Cloudflare users prefer the 'Automatic' setting so Cloudflare can choose the right value. According to the CF API docs, a TTL value of 1 will set it to 'Automatic'

""ttl"
TTL of record in seconds. 1 = Automatic, otherwise, value must in between 120 and 86400 seconds.

I guess you could do it in two ways - have some type of set

[2015-11-29 15:07] itxpress opened #37 "Detect Too Many SPF records"
While trying to setup spf-tools, I was getting a weird SPF entry out of mkzoneent.sh:

Too. 1800 IN TXT Too many DNS lookups!

This was an error out of mkblocks.sh when there are more than 10 SPF includes. But the error propagates through to cloudflare.sh and tries to create a DNS record with that (and breaks SPF since spf9 will try to include SPF10, which rightly does not exist.

This is, of cour

[2015-11-29 15:12] itxpress opened #38 "Update docs to help with jq dependency"
Was trying to setup spf-tools on a shared host setup that did not provide jq. I'm not a shell guru by any means, but was able to just download jq to my script directory and updated cloudflare.sh with

alias jq="$PWD/jq"

to get things running. But you might want to update the readme section for cloudflare.sh to indicate the error:

./cloudflare.sh: line 14: type: jq: not found

Means you need to d

[2015-11-29 16:37] jsarenik commented on #27
I know it's not perfect (it should rather read redirect only once and forget anything after it) but it works. Ideas and enhancements are welcome. Feel free to reopen if you are not satisfied with the added functionality.

[2015-11-29 16:37] #27 closed

[2015-11-29 16:41] jsarenik commented on #28
Merged by @jcbf. See `./normalize.sh`. No entry in README yet, though.

[2015-11-29 16:50] stevejenkins commented on #29
Boom! I confirm that it now works as expected with the lastest ```master```. NICE! :)

[2015-11-29 16:56] stevejenkins commented on #33
Awesome. Just checked with my postwhite script, and my script now continues running even when despf.sh returns nothing for an invalid host.

Nice work. Consider this one fixed! :)

[2015-11-29 17:08] jsarenik commented on #38
Thanks for this report. I have added the dependencies list with links to upstream (GNU in case of basic utilities).

As for the extra tests or aliases - the scripts try to be as minimal as possible. There is no need to bloat simple scripts if the standard error messages are understandable. I hope it makes sense. Feel free to explain your point further.

Thanks!

[2015-11-29 17:12] jsarenik commented on #37
Thanks for this! I will have a look.

[2015-11-29 17:14] jsarenik commented on #36
What version are you looking at? Because in my `cloudflare.sh` I see `TTL=1 # 1 = auto`.

[2015-11-29 17:15] jsarenik commented on #29
Thanks for confirmation. Closing.

[2015-11-29 17:15] #29 closed

[2015-11-29 17:16] jsarenik commented on #33
Thanks.

[2015-11-29 17:16] #33 closed

[2015-11-29 17:16] #38 closed

[2015-11-29 17:19] jsarenik commented on #37
@itxpress please have a look at the patch and try to reproduce now. Thanks!

[2015-11-29 17:21] itxpress commented on #36
My bad - I completely missed that in the cloudflare script and kept seeing
1800 in all the other script output as I tested. Sorry about that.

On Sun, Nov 29, 2015 at 12:14 PM, Ján Sáreník <notifications@github.com>
wrote:

--
Earned 'Best of 2015' award from Thumbtack.com!
Voted Best Computer Repair Business - 2014 & 2015!
 - Mebane Enterprise Reader's Choice Awards

IT Xpress - 1061 S Third St.,

[2015-11-29 17:24] #36 closed

[2015-11-29 17:40] itxpress commented on #37
That avoids the bogus DNS record attempt, but the scripts still continue on, referencing an spf10 DNS record that will never exist. Maybe a NULL test on the first jq execution would be a good place to break out...

Tested with ./despf.sh spforig.itxpress.biz | ./simplify.sh | ./mkblocks.sh itxpress.biz | ./mkzoneent.sh  | ./cloudflare.sh

spforig.itxpress.biz record:

v=spf1 a:itxpress.biz/20 incl

[2015-11-29 20:15] stevejenkins commented on #27
Working great. :)

[2015-11-30 06:52] stevejenkins commented on #28
Re-opening this, hoping that @jcbf can come up with something creative to also address IPv6. LinkedIn.com is currently publishing ```2620:109:c006:104::215/32``` in their SPF record, which is invalid.

[2015-11-30 06:58] stevejenkins commented on #28
Wait, perhaps I spoke too soon. despf.sh might be *creating* the invalid IPv6 record itself:

    # dig txt linkedin.com | grep spf1
    linkedin.com.           3485    IN      TXT     "v=spf1 ip4:199.101.162.0/25 ip4:108.174.3.0/24 ip4:108.174.6.0/24 ip6:2620:109:c00d:104::/64 ip6:2620:109:c006:104::/64 ip6:2620:109:c003:104::/64 ip4:216.136.162.65 ip4:199.101.161.130 mx mx:docusign.net ~all"```

[2015-11-30 07:01] stevejenkins commented on #37
And even though this doesn't seem to be an IPv6 validation issue, we should look ahead to IPv6 validation anyway.

Resources:

* http://twobit.us/2011/07/validating-ip-addresses/
* http://stackoverflow.com/questions/14697403/expand-ipv6-address-in-shell-script

[2015-11-30 07:15] stevejenkins commented on #28
And even though this doesn't seem to be an IPv6 validation issue, we should look ahead to IPv6 validation anyway.

Resources:

* http://twobit.us/2011/07/validating-ip-addresses/
* http://stackoverflow.com/questions/14697403/expand-ipv6-address-in-shell-script

[2015-11-30 09:39] jsarenik commented on #28
@stevejenkins Fixed. Thanks for catching this. I did not like the hardcoded `32` when I saw it, but did not have time to test thoroughly. Feel free to close this issue if it is fixed now.

[2015-11-30 09:40] #37 closed

[2015-11-30 15:21] stevejenkins commented on #28
Confirmed. That fixes it! :)

[2015-12-02 12:52] jsarenik commented on #28
@stevejenkins BTW, what does make the CIDR ranges you mentioned in the first post invalid?

[code]

[code]

[2015-12-02 12:57] jsarenik commented on #28
@jcbf I do not see what `normalize.sh` does. Can you please provide a test input and output?

[2015-12-02 16:15] jcbf commented on #28
Using @stevejenkins example domain

[code]

should output diff

[code]

[2015-12-02 16:47] stevejenkins commented on #28
Sorry, I typo'd the corrected IP address that MS is reporting in my first post. I've edited the original post. Here's what MSFT reports from one of their records:

[code]

Note that 207.68.169.173/30 appears once and 65.55.238.129/26 appears twice in that record. Both are invalid.

When run through ipcalc:

[code]

If NETWORK != the original IP, then the IP address is invalid. In my Postwhite scri

[2015-12-02 19:07] jsarenik commented on #28
@jcbf and @stevejenkins, thanks for clarification!!! I have added tests for `normalize.sh` and added it also to README file. Hats off for cooperation! Thanks!!!

Now I just need to fix the failing added test: https://github.com/jsarenik/spf-tools/pull/46

[2015-12-02 21:49] stevejenkins commented on #28
Sorry for re-opening, but I'd love to see an option for ``normalize.sh``` (or perhaps a different script altogether such as ```omitinvalid.sh```) that performs the inspection as ```normalize.sh```, but could omit the invalid IPv4 CIDR from the results.

It's technically possible that normalizing an invalid IPv4 CIDR could change it to a netblock that is not actually owned or controlled by the repo

[2015-12-02 23:20] jcbf commented on #28
Omitting those may raise another issue.
In your example, it is somehow expected that ip4/ip6 mechanisms are well defined CIDR but that may not be the case for the a and mx mechanisms.

For instance, assume that www.example.com resolves to 192.0.2.3 and you find a SPF record containing ```"v=spf1 a:www.example.com/28 -all"``` . In this case despf.sh will expand to ip4:192.0.2.3/28. It is a valid re

[2015-12-02 23:40] stevejenkins commented on #28
Hi, @jcbf. I agree that all **valid** IP addresses and ranges should be included.

I'm *only* talking about what to do with **invalid** IP CIDR ranges. The default behavior for ```normalize.sh``` is to "repair" them. But the repaired CIDR is different than the CIDR published by the host. So what happens if the repaired CIDR actually represents a netblock that is not actually owned by the host? Sur

[2015-12-03 00:33] jcbf commented on #28
Hi,

let me see if I got this right.

Quoting RFC 7208, Section 5.  Mechanism Definitions
[code]
What ```normalize.sh``` does is zero the low-order bits accordingly with the netmask.
The result will be the first IP address of that block. It is a different record but it is syntactically equivalent and only make sense for applications that are picky regarding CIDR format. In defence to Postfix I may

[2015-12-03 10:13] jcbf opened #48 "Check for valid ip records"
While reporting #28 , @stevejenkins  mentioned the possibility of having invalid ips in record may result in "strange" blocks in the normalisation script.

ip4/ip6 should be validated before printing.

In https://tools.ietf.org/html/rfc7208#section-5.6 the format is well define and SPF validators will ignore invalid one.

Should be this be check in ```normalize.sh``` or should be in ```despf.sh```

[2015-12-03 10:19] jcbf opened #49 "Records like a/24 or mx/24 ignores net mask"
records like a/24 and mx/24 get ignored.

Example:
[code]

[2015-12-03 10:25] jcbf opened #50 "If primary DNS server fails, secondaries servers are not used"
``` ./despf.sh hotmail.com ```will trigger this query

[code]

Ideas:

* Parse SOA record for primary and then query for NS records - badly configured "hidden primary" architectures
* simple iterate by all NS servers and break on success.

[2015-12-03 17:45] jsarenik commented on #48
Thanks much for writing this issue, @jcbf ! I see @stevejenkins 's point and I think that it makes sense to keep things separate for now, so I would vote for adding an option to `normalize.sh` for not printing out the corrected (originally invalid) ranges as well as checking for completely invalid, as you mentioned for example something like `172.168.0.310`.

I know it all looks now like a dissass

[2015-12-05 21:24] jsarenik commented on #49
I see it in SPF docs, but it's a strange thing as there is no distinction between IPv4 and IPv6 `a` in SPF. So if I set `a/24` and `AAAA` record for that domain is set, I get `fec0::7/24` :-) But I hope everyone who uses `a/netmask` or `mx/netmask` know what they are doing.

Thanks for the patch! Feel free to close now. There are also tests in #52

[2015-12-12 13:14] lacostej opened #53 "Truncated DNS results cause issues"
I was experiencing the following issue:

[code]

which caused compare to fail. (maybe 1 / 3 times).

To troubleshoot, I've modified despf.inc to do

[code]

and the error becomes.
```DNS lookup error! <+short -t TXT origspf.dragonbox.com @;; Truncated, retrying in TCP mode. ns14.ovh.net. dns14.ovh.net.>```

so this seems related to https://forums.opensuse.org/showthread.php/398114-DNS-UDP-response

[2015-12-12 17:57] jsarenik commented on #53
Thanks much for reporting this issue. What do you think about using [`drill`](http://www.nlnetlabs.nl/projects/ldns/) instead of `dig`?

[2015-12-12 18:02] jsarenik commented on #50
Thanks for report! I think it's a very good idea to iterate and break. Working on it right now (on the drill branch).

[2015-12-12 18:02] jsarenik commented on #53
@jcbf what do you think about replacing `dig` for `drill`?

[2015-12-12 19:41] #49 closed

[2015-12-14 00:02] lacostej commented on #53
@jsarenik I forgot to say: I am on a Mac, and dig is available by default.

[2015-12-14 11:50] jsarenik commented on #53
@lacostej sure. I have Mac too. `drill` can be installed using http://brew.sh/ by running `brew install ldns`.

The thing with `+tcp` in `dig` is that some servers (particularly cloudflare.com) do not answer TCP DNS request at all so I think we do not want to use `+tcp` by default with dig.

As for `drill` I will need to add option `-a` by default (from `man 1 drill`):

[2015-12-14 12:46] lacostej commented on #53
Another idea: by default ```dig``` shouldn't need ```+tcp```  argument. It retries with TCP upon truncated.

The dig output looks like this:
[code]
And the following patch fixes it:
[code]

The filtering could be more focused on the comments maybe and moved to a different place in the code.

Maybe better to support this auto-retry mode than to add dependency to a new tool ?

[2015-12-14 15:08] jcbf commented on #53
Hi all, sorry I was away and here is my delayed 0.02€.

1) Regarding drill vs dig. I think drill is not broadly available by default or minimal Linux distros. I would stay away for that unless it is really necessary.

2) Regarding the TCP issue I think supporting tcp should be considered carefully. RFC strongly discourages the use of TCP in SPF records  by keep them bellow 512 bytes ( http://tools

[2015-12-14 15:45] stevejenkins commented on #53
+1 to using dig over drill. dig is far more widely distributed, and since I have a project that is dependent on spf-tools, I'd prefer to avoid an additional dependency.

[2015-12-14 16:12] jsarenik commented on #53
Thank you all for feed-back! I appreciate it. Anyway, the experiment on the `drill` branch was worth I think and I will backport the changes to `dig` version. I will also incorporate the change to allow for seamless output even when TCP is used.

[2015-12-14 18:42] #53 closed

[2015-12-14 20:09] #28 closed

[2015-12-14 20:48] #50 closed

[2015-12-15 08:50] jsarenik opened #61 "License"
Dear contributors. I think it's time to set the direction and make others less shy. What about license? @jcbf @urg @stevejenkins

 * Public domain?
 * MIT?
 * GNU GPL?

No flames please, but feel free to explain your opinion. Just a pragmatic question before there are more people on the list :-)

Feel free to send those ideas to my email address so we do not influence each other before we state ou

[2015-12-28 14:04] #61 closed

[2016-01-14 23:47] ninjada opened #64 "isincidrange.sh /32 Check - Integer Expression Expected Warning"
Hello, been using spf-tools for a while to update our records. have recently added an include for aspmx.pardot.com and noted some errors/warnings.

If you run the command I use to generate my spf's, directly on aspmx.pardot.com it will reproduce the warnings eg.

./despf.sh aspmx.pardot.com | ./normalize.sh | ./simplify.sh | ./mkblocks.sh  | ./xsel.sh

will show following warnings, for every IP th

[2016-03-09 08:56] jsarenik commented on #64
Sorry for delayed reply. Let me have a look and I will be back with more info...

[2016-03-09 09:03] jsarenik commented on #64
Thanks for this catch! I have a fix, just working on a test now. Thanks!!!

[2016-03-10 10:24] jsarenik commented on #64
Sorry for auto-close - it was caused by my comment in the merge commit. Are you OK with this fix? Does it work for you now?

[2016-03-10 23:37] ninjada commented on #64
@jsarenik Yep can confirm its working normally.

Cheers man :+1:

[2016-03-10 23:37] #64 closed

[2016-04-04 23:21] TheNoButton opened #70 "Allowing for multiple MX records"
The `grep -m1` is restricting me to only having 1 MX record resolved.  I bumped it up to 5 (arbitrary).  I'm not sure what would  be the best generic case.

[code]

[2016-04-05 12:30] regnauld opened #72 "Which OS has this been developed/tested on ?"
I've had some trouble getting any output from the tools on an older Ubuntu LTS and FreeBSD 10.1.
Obviously it's not your scope to support older/unsupported OSes, but it would be good to indicate somewhere on which platform spf-tools have been tested/developed, and which tools are expected to be available (dependencies) to the spf-tools suite.

The README.md references tac(1) - this isn't a standar

[2016-04-05 13:11] #70 closed

[2016-04-05 13:21] jsarenik commented on #72
Yes, `tac` is GNU Coreutils-specific as far as I know. But it is not required since a15746fae360bf7ea42439a45f9930378060a85b so thanks for noticing it in README - I have fixed it just now.

The shell code tries to by as POSIXish as I can, but it's true that I haven't tested it on *BSD or older Linux distros. I regularly run the tests on current rolling Arch Linux and the CI is done on Ubuntu (ther

[2016-04-05 13:51] regnauld commented on #72
Ok, here comes the output below.

Also, on a system on which it works (14.04 LTS), I can see that /tmp/despf-loop-XXXXX contains (I modified the code not to cleanup for now):

random-non-match-tdaoeinthaonetuhanotehu
google.com
_spf.google.com
_netblocks.google.com
_netblocks2.google.com
_netblocks3.google.com

... whereas on the FreeBSD system, I see:

random-non-match-tdaoeinthaonetuhanotehu
goo

[2016-04-05 14:16] jsarenik commented on #72
@regnauld Thanks. What happens if you do `dig -t TXT google.com @213.186.33.99` ?

[2016-04-05 14:22] regnauld commented on #72
$ dig -t TXT google.com @213.186.33.99

; <<>> DiG 9.10.3-P4 <<>> -t TXT google.com @213.186.33.99
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 31719
;; flags: qr rd ra; QUERY: 1, ANSWER: 1, AUTHORITY: 4, ADDITIONAL: 5

;; OPT PSEUDOSECTION:
; EDNS: version: 0, flags:; udp: 4096
;; QUESTION SECTION:
;google.com.                    IN      TXT

;; ANSWE

[2016-04-05 14:44] jsarenik commented on #72
@regnauld OK, and now `dig +short -t TXT google.com`

[2016-04-05 15:04] extremeshok commented on #72
if the look up returns a blank, I have a fix for this and will do a pull request.

[2016-04-05 15:12] regnauld commented on #72
Ján Sáreník (notifications) writes:

	"v=spf1 include:_spf.google.com ~all"

[2016-04-08 12:57] jsarenik commented on #72
I am sorry for silence. At the moment I have to do something else. Let's get back to it soon! Feel free to ping me (comment on this issue) to raise visibility in case I do not get back to it. Thanks!

[2016-04-08 12:59] jsarenik commented on #48
I suggest putting it into `despf.sh`. @jcbf what do you think? Would you have time to think about it? Thanks!

[2016-04-10 16:32] stevejenkins commented on #48
+1 for inclusion in despf.sh. Invalid records are useless, so the earlier in any process they can be excluded, the better!

[2016-04-11 09:32] jcbf commented on #48
+1 for despf.sh . Later this week I can pull a function to deal with it.
Although invalid records are, or should be, ignored by the validators. But like @stevejenkins said " the earlier in any process they can be excluded, the better!"

[2016-04-13 13:39] jsarenik commented on #48
@jcbf and @stevejenkins - have a look at #79

[2016-04-13 15:53] jsarenik commented on #72
@regnauld Please try to fetch the latest sources, run `tests/test-shell.sh || DEBUG=1 tests/test-shell.sh` and send me the output please. Thanks!

[2016-04-13 16:16] jsarenik commented on #48
Ah, I'm not checking the CIDR yet...

[2016-04-13 16:38] regnauld commented on #72
$ tests/test-shell.sh || DEBUG=1 tests/test-shell.sh
=================================
Using /bin/sh
Testing ./despf
=================================
Using /bin/sh
+ set
+ grep SH_VERSION=
+ true
+ find . -type d -mindepth 1 -maxdepth 1
+ echo Testing ./despf
Testing ./despf
+ /bin/sh ./despf/cmd

[2016-04-13 17:19] jsarenik commented on #48
CIDR checking added. See #79

[2016-04-14 11:52] jsarenik commented on #48
@jcbf Closing this.

[2016-04-14 11:56] jsarenik commented on #72
@regnauld please checkout the branch `jasan/bsd` and send me the output of following commands: `git rev-parse HEAD; tests/test-shell.sh || DEBUG=1 tests/test-shell.sh; echo $?`

My output on FreeBSD 10.3-RELEASE is following:

[code]

[2016-04-14 11:58] jsarenik commented on #72
The only extra setup I did on the FreeBSD system was to install git and bind like this:

[code]

[2016-04-14 11:59] regnauld commented on #72
Will try right away. Just FYI, this also fails on Ubuntu 10.04 (I know, not supported).

[2016-04-14 12:00] jsarenik commented on #72
Try that also on Ubuntu 10.04 if you have it handy, please.

[2016-04-14 12:09] jsarenik commented on #72
Looks good. I managed to run it the same on Ubuntu 10.04:

[code]

[2016-04-14 12:10] regnauld commented on #72
FreeBSD output first:

0a05fe3cf031e4fc32cd1aa624f151905243bc85
=================================
Using /bin/sh
Testing ./redirect
Getting orig.spf-tools.ml
Getting both.spf-tools.ml
Getting mx20.spf-tools.ml
Getting a24.spf-tools.ml
.. ./redirect OK
Testing ./normalize
.. ./normalize OK
Testing ./a24
.. ./a24 OK
Testing ./despf
Getting both.spf-tools.ml
Getting mx20.spf-tools.ml
Getting a24.spf-t

[2016-04-14 12:11] jsarenik commented on #72
The only extra packages I installed to a [precreated image](https://openvz.org/Download/template/precreated) of Ubuntu 10.04 (x86_64) were these:

[code]

[2016-04-14 12:11] regnauld commented on #72
Also, note that the bind-tools should be enough (dig etc.), as opposed to the whole pkg.
That would be the equiv. of dnsutils for Ubuntu

[2016-04-14 12:16] regnauld commented on #72
Ubuntu 10.04 attached - dnsutils wasn't installed, now it is.

[output.txt](https://github.com/jsarenik/spf-tools/files/219064/output.txt)

[2016-04-14 12:18] jsarenik commented on #72
@regnauld Please run `rm -rfv /tmp/despf-loop*` on Ubuntu. The test tries to be nice and fails if there are leftover temp files (which are there since previous failed attempts). Thanks.

[2016-04-14 12:20] jsarenik commented on #72
@regnauld BTW you can write in `code` when you use backticks. One backtick for `in text` and more than three before-and-after the block

[code]

[2016-04-14 12:21] jsarenik commented on #72
[code]

[2016-04-14 12:22] jsarenik commented on #72
See https://guides.github.com/features/mastering-markdown/ for more.

[2016-04-14 12:30] jsarenik commented on #72
Merging in and closing this issue. Thanks for reporting and testing @regnauld !!!

[2016-04-14 12:32] #72 closed

[2016-04-14 12:53] jcbf opened #84 "Make test scripts executable"
For simplicity test scripts should be executable.

[code]

[2016-04-14 12:57] jcbf commented on #84
Since there is no content change, I can't make the pull request :p

[2016-04-14 14:33] jsarenik commented on #84
The reasoning behind that was that only `test-shell.sh` is meant to be run. Now all of them can be run separately.

[2016-04-14 14:38] jsarenik commented on #84
@jcbf nice idea, it also made me streamline the scripts and rename the `test-real` to `test-subdirs`

[2016-04-14 14:46] #84 closed

[2016-04-18 09:25] jcbf opened #86 "New release ?"
There are 232 commits to master since release 1.0. Looking at the closed issues I think is worth a new release , let's say v1.1.
What do you think ?

Just as reference, this is a generated ChangeLog

# Change Log

## [Unreleased](https://github.com/jsarenik/spf-tools/tree/HEAD)

[Full Changelog](https://github.com/jsarenik/spf-tools/compare/v1.0...HEAD)

**Implemented enhancements:**

- Check for

[2016-04-18 13:30] jsarenik commented on #86
Nice Changelog!

[2016-04-18 14:06] jsarenik commented on #86
See Happy Monday release. Thanks for the Changelog!!!

[2016-04-18 14:08] jsarenik commented on #86
https://github.com/jsarenik/spf-tools/releases/tag/v1.1

[2016-04-18 15:08] jcbf commented on #86
Good! Should I close it?

[2016-04-18 15:57] jsarenik commented on #86
Yes please.

--
https://jasan.tk
On Apr 18, 2016 17:09, "José Borges Ferreira" <notifications@github.com>
wrote:

[2016-04-19 12:20] #86 closed

[2016-04-28 15:34] stevejenkins commented on #48
Is this in the current release (April 13, 2016)? I'm still seeing invalid IP addresses and CIDRs generated by despf.sh:

65.55.238.129/26
194.7.41.152/28
207.68.169.173/30

I'd love to be able to remove the validation subroutines from postwhite (which depends on despf.sh) and push all the validation upstream. Thx!

[2016-04-28 18:03] jsarenik commented on #48
I thought that's what `./normalize.sh` is meant to do.

[2016-04-28 18:07] jsarenik commented on #48
[code]

[2016-04-28 18:08] jsarenik commented on #48
That hasn't been changed and IPv6 support was not added yet.

[2016-04-28 18:21] stevejenkins commented on #48
Oh... based on the comments above I thought it was migrating over into despf.sh. :) I'll be patient!

[2016-04-28 18:23] stevejenkins commented on #48
I'll wait for #79 to be merged in (if that's still the plan).

[2016-05-02 12:41] jcbf opened #89 "Make default policy a cmd line setting in mkblocks.sh"
mkblocks has a hardcoded policy="~all" . It would be nice to be configurable

[2016-05-02 13:25] #89 closed

[2016-05-02 14:50] jcbf opened #91 "Have a list of domains that don't get despf'ed"
When using example.com with the following record:

`
"v=spf1 include:_spf.google.com include:spf.mailjet.com include:salesforce.com mx a ip4:203.174.167.178/32 ip4:203.174.179.50/32 ~all"
`

And optimize records with

`
 ./despf.sh example.com   | ./normalize.sh | ./simplify.sh | ./mkblocks.sh example.com
`

I may want to leave one ( or more) includes in the final records.

[2016-05-06 13:29] jcbf commented on #91
This is a hack and should be a cmd line option.
Closing for now.

[2016-05-06 13:29] #91 closed

[2016-05-10 13:30] jcbf commented on #48
This was already merged.
Can it be closed ?

[2016-05-10 14:00] jsarenik commented on #48
I everyone is happy, I think it can be closed. Issue started by you @jcbf so feel free to close it. Thanks!

[2016-05-16 10:15] #48 closed

[2016-06-13 17:40] stevejenkins opened #95 "Still keeping invalid IPv6 CIDR ranges"
Just wondering if any progress has been made on only keeping valid IPv6 CIDR ranges in the output of despf.sh. LinkedIn is still publishing an invalid address, and despf.sh still outputs it:

[code]

The one ending in "215" is invalid.

[2016-06-15 05:32] jsarenik commented on #95
Hi Steve! Thanks for pointing this out.
I did not finish any IPv6 check for this yet.

What is making the one ending with "215" invalid?

[2016-06-15 05:42] jsarenik commented on #95
I see it's redundant given that the whole `/64` block is added first, but otherwise it looks valid to me.

[2016-06-22 09:21] jsarenik commented on #95
@stevejenkins ^^ ?

[2016-06-23 04:07] stevejenkins commented on #95
My bad. The validator I was using is outdated. I re-checked with this one:

http://www.helpsystems.com/intermapper/ipv6-test-address-validation

and it's fine.

As far as incorporating IPv6 checking into despf.sh, check that validation link and scroll down to the IPv6 Test Cases section. It has a Perl test script with "over 200 test cases of valid and invalid IPv6 addresses. You can use them to te

[2016-06-23 07:50] jsarenik commented on #95
@stevejenkins Thanks for link to a very useful resource!

[2016-07-19 01:22] stevejenkins opened #99 "BSD no longer supports dig"
Per:

https://www.freebsd.org/releases/10.0R/relnotes.html

'dig' is no longer in BSD-based operating systems. BIND (which provides dig) was removed and replaced with unbound.

This change was made a couple years ago, but is starting to affect more systems as they upgrade to systems that rely on unbound instead of BIND.

The replacement tool in unbound is 'drill.' But the 'host' command exists in

[2016-07-19 22:54] linkp commented on #99
I'm running unbound on some OpenBSD (5.9) hosts, so I checked for drill, and while it is an installable package, it wasn't there by default, even though unbound is installed. (NSD is also present.) I did find the dig command and I don't see any installed packages that would have added it, but that doesn't mean it is still part of the base system. If you move to incorporate drill into the script, i

[2016-08-21 08:27] jsarenik commented on #99
@linkp @stevejenkins Would this work multi-platform?

I am running it on Mac at the moment:

[code]

[2016-08-24 06:54] jsarenik commented on #99
@linkp @stevejenkins could you please try the code on `jasan/changes` and provide me with feed-back? Thanks!

[2016-08-24 12:57] jsarenik commented on #99
I am going to merge now after it was fixed on OpenBSD.

[2016-08-24 12:58] jsarenik commented on #99
@stevejenkins if the fix is good for this issue, please close it. Otherwise please let me know what is missing.

[2016-09-07 08:36] abtris opened #105 "Problem with missing domain in example from README"
[code]

fixed by:

[code]

but I'm not sure if domain missing in all examples or just in this. I have `~/.spf-toolsrc` and this not used in `despf.sh` automatically.

[2016-09-07 18:55] jsarenik commented on #105
@abtris thanks for catching this!

[2016-09-07 18:56] jsarenik commented on #105
@jcbf Wonderful! That's what I love about free software. More wise eyes, more wisdom!

[2016-09-07 19:15] jsarenik opened #108 "Fix string comparisons"
Similar to @jcbf 's fix in #107 fix also following ones (or at least the latter of them):

[code]

[2016-09-07 19:20] jsarenik commented on #105
@abtris closing again. Feel free to re-open if you find any other case not addressed yet. Thanks!

[2016-09-07 19:20] #105 closed

[2016-09-07 19:40] jsarenik opened #109 "Support more DNS providers"
There is a request to support Akamai at first.
https://github.com/akamai-open/api-kickstart/blob/master/examples/node/src/dns-zone-management.js

There should be some easy way to make it work. Think about it and propose solutions.

[2016-09-07 19:41] jsarenik commented on #99
Closing for now. @stevejenkins feel free to re-open if needed.

[2016-09-07 19:41] #99 closed

[2016-09-08 12:53] jcbf commented on #109
Probably the best way to go is to create a shell script for each provider similar to cloudflare.sh .

[2016-09-09 04:49] jsarenik commented on #109
@jcbf It was specific question of my friend, asked via other ephemeral channels. That's why I have made this issue right away to not forget about it.

[2016-09-14 20:31] jsarenik commented on #108
`$#` is a number, should use `-eq` for comparison.
`$1` can be quoted and `x` added as a placeholder.

[2016-09-14 20:34] #108 closed

[2017-01-08 05:48] stevejenkins opened #118 "Any way to eliminate "exists:" from results?"
My postwhite script (https://github.com/stevejenkins/postwhite/) relies on the output of despf.sh to build it's whitelists.

It's spitting errors in line 125 and 244 of the script when it encounters results from despf.sh like this:

    exists:%{i}._spf.sparkpostmail.com

Is there any way for me to pass a flag to despf.sh so that it won't include "exists" results in the output?

[2017-01-08 13:37] jsarenik commented on #118
Hi Steve!
I am sorry the functionality broke. Could we possibly add some simple test to `spf-tools` in order to check for compatibility with `postwhite` during the CI tests?
Thank you!

[2017-01-09 22:56] stevejenkins commented on #118
That would be great! I don't have any experience with testbed setups, but let me know what I can do!

[2017-01-09 23:02] stevejenkins commented on #118
Of course, the other option would be to add functionality to postwhite to ignore the exists lines. My function normalize_ipv4() on Line 110 is the issue. I've added a bug to my project here:

https://github.com/stevejenkins/postwhite/issues/10

So what's going to be the easier fix do you guys think? :)

[2017-01-10 19:17] stevejenkins commented on #95
I've been doing a bit more searching on IPv6 validation, and may have stumbled onto something that might help:

http://stackoverflow.com/questions/26796769/how-to-validate-a-ipv6-address-format-with-shell

[2017-01-10 19:18] stevejenkins commented on #118
Changing label from "bug" to "enhancement" because postwhite has been altered (thx, @jsarenik & @jcbf) to ignore anything other than lines starting with "ip".

I still think a flag might be useful/interesting, but it's no longer urgent.

[2017-01-11 08:20] jsarenik commented on #118
@stevejenkins let me close this. I would say once the issue is fixed (and very cleanly from the perspective of `postwhite` I think) it should not be around.

[2017-01-11 08:20] #118 closed

[2017-01-11 08:44] jsarenik commented on #95
@stevejenkins this seems to be related to what is already implemented in function `checkval6` as far as I understand... https://github.com/jsarenik/spf-tools/blob/master/include/despf.inc.sh#L232-L244

[2017-01-11 15:14] stevejenkins commented on #95
@jsarenik: NIce! So the despf.sh output already "scrubs" for valid IPv6?

[2017-01-11 16:46] jsarenik commented on #95
@stevejenkins if valid means that after normalization (no double-colons) it contains maximum of four hexadecimal numbers in each section, separated by colons, then yes. It "scrubs".

[2017-01-11 16:47] stevejenkins commented on #95
Then that's good enough for me. :) Thanks!

[2017-01-11 16:47] #95 closed

[2017-01-16 21:07] bakerjalexander opened #119 "Missing CIDR Notation, no Recursion"
Checkout the SPF record for ticketmaster.com:

1) The raw record cuts on a quotation mark for 208.66.204.0/22 at 208.66.204.0 and wraps to the next line, which begins with a quotation mark.  You're script doesn't catch that.  You're missing the /22 at the end, so output for ./despf.sh ticketmaster.com is ip4:208.66.204.0.  This is likely the case for any such instance.  Something like this fixes i

[2017-01-17 15:15] jcbf commented on #119
As is, everything after the " "/22 is ignored, including the  the  spf-95.jangomail.com.
So 2. is related with the bad parsing.

[2017-01-18 15:43] jsarenik commented on #119
@bakerjalexander Please provide a working test case. If you say `ticketmaster.com` but it currently does not break, it is hard to make a correct fix. Thanks!

[2017-01-18 15:58] jsarenik commented on #119
@bakerjalexander Another thing is that as far as I understand SPF record syntax, one is not supposed to wrap one record into multiple lines. Is that right?

http://www.openspf.org/SPF_Record_Syntax

[2017-01-18 16:11] jcbf commented on #119
@jsarenik , It's not multiple record, i't a multiple string issue. RFC allows it.
https://tools.ietf.org/html/rfc7208#section-3.3
https://tools.ietf.org/html/rfc4408#section-3.1.3

The #120 should fix it but I don't understand why is breaking the tests.

[code]

[2017-01-18 16:38] bakerjalexander commented on #119
Here is code I borrowed (somewhere) off the internet which I use to grab all the SPF IP's from a given domain:

#!/usr/bin/perl
$domain=shift @ARGV;
@results=getit($domain);

sub getit {
  my $domain=shift;

  my @foo=`nslookup -q=TXT $domain`;
  my @results=();
  foreach (@foo) {
   next if not /$domain\ttext/;
   s/$domain\ttext = "v=spf1//;
   @results=split /\s+/;
   foreach (@results) {
    n

[2017-01-18 16:55] bakerjalexander commented on #119
Fix 120 works for me on ticketmaster.com but I didn't try to build it

[2017-01-18 18:06] jsarenik commented on #119
@bakerjalexander please try the latest version on master. Fix has been merged with a test-case. I hope it helps with your issue.

[2017-01-19 08:06] bakerjalexander opened #124 "No record for sportssystems.com"
Using latest files from Jan 18, ./despf.sh sportssystems.com gives nothing, but

dig TXT sportssystems.com +short gives
"GOOGLE-SITE-VERIFICATION=KA6GOR_NXZNHOXANLL7PQSDIPZVJ21ZOQQBWZOHVIKU"
"V=SPF1 include:_spf.google.com IP4:166.78.205.64 IP4:166.78.205.65 IP4:166.78.205.66 IP4:216.73.93.70/31 IP4:216.73.93.72/31 MX PTR A ~ALL"

Wondering if the presence of the MX, PTR and A records have anythin

[2017-01-19 13:16] jsarenik commented on #124
Very good point. Currently `spf-tools` are matching strings case-sensitive, i.e. only lowercase.

The RFC says https://tools.ietf.org/html/rfc7208#section-12

[2017-01-19 14:33] jsarenik commented on #124
@bakerjalexander please try the code from pull-request #125 and let me know if it helps.

[2017-01-19 22:50] bakerjalexander opened #126 "despf does not consolidate cidrs"
./despf.sh et._spf.pardot.com | ./normalize.sh | ./simplify.sh gives

ip4:13.111.0.0/24
ip4:13.111.1.0/24
ip4:13.111.2.0/24
ip4:13.111.3.0/24
ip4:136.147.135.0/24
ip4:136.147.176.0/24
ip4:136.147.182.0/24
ip4:198.245.81.0/24
ip4:199.122.123.188/30
ip4:199.122.123.192

This correct but not consolidated. It should be merged properly as follows:

13.111.0.0/22
136.147.135.0/24
136.147.176.0/24
136.14

[2017-01-19 22:55] bakerjalexander commented on #126
Have you considered using iprange in your script?

[2017-01-20 08:21] jsarenik commented on #126
@bakerjalexander Thanks for recommendation, I did not know about it before you mentioned it. Do you use it? How?

[2017-01-20 09:22] jsarenik commented on #126
@bakerjalexander Have a look at #127 please.

[2017-01-20 17:55] bakerjalexander commented on #126
I'm working towards the same ends as you.  I've got a client that's using
Hover for their DNS and they have a 255 character limitation on their TXT
entries and they also have four other companies sending email on their
behalf so I'm trying to flatten the SPF records in order to maintain the 10
DNS lookup SPF limitation. I'll be glad to share my code with you when I'm
done, however I'm doing it all

[2017-01-22 08:56] jsarenik commented on #126
@bakerjalexander Thank you! I really appreciate your words and am looking forward to your Perl version! All the best to you!

[2017-01-23 08:37] jsarenik commented on #126
@bakerjalexander, can this issue be closed now? #127 was merged already into master. Thanks.

[2017-01-23 08:37] jsarenik commented on #124
@bakerjalexander - and this one, can it be closed now? Thanks.

[2017-01-23 08:38] jsarenik commented on #119
@bakerjalexander @jcbf - is this fixed and can be closed already?

[2017-01-23 08:55] jcbf opened #129 "How to make a test for iprange ?"
How do you think is the beste way to test iprange.sh , assuming that iprange may not exists and , depending on that, may have diferent results ?

[2017-01-23 11:40] jsarenik commented on #129
@jcbf I think that the test itself can check for the presence of `iprange` and expect the results of `iprange.sh` script accordingly. But I would not really go this far because it is third party and though it is nice to support it, it should not be considered to be part of `spf-tools` and be tested by our tests. How about this?

[2017-01-23 17:14] jcbf commented on #129
ok. I just mentioned because I'm doing some  experiments with code coverage and hoping to have all code covered or at least, most of it.
I'm still fighting with travis to get it work so testing iprange.sh is just a detail .

[2017-01-23 17:14] #129 closed

[2017-01-25 11:25] jcbf opened #131 "Tests are failing on energystan.com"
Looking at whois record energystan.com was updated today and belongs to a parking service.
Better not use it on tests.

[2017-01-25 11:30] jcbf commented on #131
Sorry , working on an outdated branch.

[2017-01-25 11:30] #131 closed

[2017-01-26 01:53] #126 closed

[2017-01-26 01:54] bakerjalexander commented on #126
I closed this.  Am attaching my attempt at a cloudflare, perl based
solution.  Please feel free to test.

Thanks!

On Mon, Jan 23, 2017 at 2:37 AM, Ján Sáreník <notifications@github.com>
wrote:

#!/usr/bin/perl

use Date::Manip;
use English qw( -no_match_vars );
use Algorithm::Bucketizer;
use IPC::Open2;
use Furl;
use JSON qw( encode_json decode_json );
use Data::Dumper;

# This program will updat

[2017-01-26 12:08] #119 closed

[2017-01-26 12:08] #124 closed

[2017-01-27 06:34] jsarenik commented on #131
Yes, this is what I fixed very recently :-)

[2017-02-09 13:51] jcbf opened #133 "Handle macros in spf entries"
Although  there isn't a wide spread usage , entries with macros shouldn't be processed.
For instance, gentoo.org has some.

[2017-02-10 17:18] jcbf opened #135 "SFP Qualifiers are removed"
Usually the + qualifier is used and it's the default anyway, But when other qualifier is defined then may have the reverse effect.
Example:

and

[2017-02-13 06:00] stevejenkins opened #138 "Any way to handle ptr: results, like with Yahoo?"
Yahoo has always chosen to go their own way (e.g. they really held onto DomainKeys while everyone else evolved to DKIM), and it's no different with SPF records, it seems.

    # despf.sh yahoo.com
    Getting _spf.mail.yahoo.com
    ptr:yahoo.com
    ptr:yahoo.net

Is the issue solely with their SPF record being purposely difficult, or can anyone think of a way to get  valid despf.sh output from Y

[2017-02-13 11:32] jcbf commented on #138
I think you should clarify "way to get valid despf.sh" .  The generated output is valid in SPF context.
I'm assuming you need IPs  for the [postwhite project](https://github.com/stevejenkins/postwhite) and for that usage ptr mechanism is impossible to handle. The same applies to exists and hosts with macros ( check #133 ).

[2017-02-13 17:57] stevejenkins commented on #138
You are, of course, correct. The yahoo.com query is indeed valid output for despf.sh. I'm trying to figure out a way to expose Yahoo's known senders... they seem to be the *only* major mailer to hide them. This is certainly not a bug with SPF-Tools. I just figured there are enough smart people in here that possibly someone might have thought of something I hadn't. :)

I recently added a static lis

[2017-02-14 01:27] jcbf commented on #138
Well I'm doing just a check. Got all the advertized ipv4 prefixes ( http://bgp.he.net/AS10310#_prefixes ) and doing a mass dns lookup on the PTR's.
Not very conclusive, almost all IPs end with yahoo.com . Scraping the page is probably the better way.

[2017-02-14 07:15] jsarenik commented on #138
@stevejenkins Thank you for pointing this out. I just had a look at it and it seems to me like a very smart way to decentralize the SPF record and make it verifiable in O(n) steps. Of course it is hard or even legally impossible in some countries (without the KB article listing addresses) to find out all the addresses that can be used for sending mail for yahoo.com domain, but it seems to me very

[2017-02-14 07:26] jsarenik commented on #135
Thanks for this report! Yes, the `spf-tools` were very minimalistic since the beginning. It makes a lot of sense to implement this functionality.

The quick hack would be

[code]

But there are more cases that need to be taken care of: `getamx`, `dea`, `demx` and changes would involve also `printip`.

At the moment I am busy working on other projects, but will gladly keep an eye if you have any pr

[2017-02-14 07:30] jsarenik commented on #133
Nice find. I have never seen anything like this before. How do the macros work? I can't see them in the [SPF Record Syntax](http://www.openspf.org/SPF_Record_Syntax) document. Thanks!

[2017-02-15 14:33] jcbf commented on #133
Usually it's used with exists mechanism although  I've observed , more recently used in include mechanism. In theory you can use in any record.
Basically you can create dynamic records using stuff like IP address, email address, helo name as placeholders.

More information in https://tools.ietf.org/html/rfc7208#section-7

[2017-02-15 15:25] jcbf commented on #135
Already have made patches in a branch. ( https://github.com/jsarenik/spf-tools/compare/jcbf/restore_qualifiers ) . Just waiting for the merge on #137 to have clean tests feedback on the pull request.

[2017-02-15 15:38] jcbf commented on #135
Btw: Handling properly this have shown another bug.
Sorting shouldn't happen because break intended behaviour. Let's look at the initial example:

My initial patch will produce:

witch doesn't exclude  88.149.188.41 out of 88.149.188.40/29. So I removed sort and that will break others scripts like mkblocks.sh and will also break tests that expect orted output.

I know that spf-tools were created t

[2017-02-17 08:57] jcbf commented on #109
For reference: @AlexCline just contributed with AWS Route53 support in #141

[2017-02-17 09:29] jsarenik commented on #133
@jcbf Thanks for the link. I will have a look at it.

[2017-02-17 09:32] jsarenik commented on #135
What about just sorting lines starting with `-` before `+`? Would that work?

[2017-02-17 11:21] jcbf commented on #135
Will probably cover 99%  but then you will have to handle both ~ and ? .

SPF must be handled in the same order that is presented. Scripts like simplify.sh or iprange.sh that assume ordered input should sort before process. My question is: is any other script that has that assumption ?

[2017-02-17 15:43] jsarenik commented on #135
@jcbf, nothing else requires sorted input as far as I remember. But the general idea of `sort -u` was the basic way to simplify records...

[2017-02-18 19:44] jcbf commented on #135
You are right. Don't know why I thought so.
Anyway can you consider something  [like this branch](https://github.com/jsarenik/spf-tools/compare/jcbf/unsorted_output )  ? or with de default unsorted ?

[2017-02-19 21:23] #133 closed

[2017-04-18 12:27] jcbf commented on #135
Closing ...

[2017-04-18 12:27] #135 closed

[2017-04-18 12:31] jsarenik commented on #135
Hi José!

Thank you!

Ján

On Tue, Apr 18, 2017 at 2:27 PM, José Borges Ferreira <
notifications@github.com> wrote:

--
http://jasan.tk

[2017-06-11 11:03] jsarenik commented on #138
@stevejenkins - do you think there is any way to approach this problem without wide-scale DNS scanning? How? Otherwise I would suggest to close this issue.

[2017-06-12 21:28] stevejenkins commented on #138
I don't think so, and therefore think it's OK to close.

[2017-06-12 21:28] #138 closed

[2018-03-09 19:09] lacostej opened #152 "allow the possibility to keep untouched includes in the first SPF"
In order to authorize us, one of our mailing service provider (MailXXmp) insists on having their `include` as part of our first SPF, and won't search for it in the included sub-sections. So we need to keep it first.

Since 19ed7d50ee7a3ec3d7ba162643c66adc214d57d9 the `simplify.sh` script arbitrarily keep includes at the end.

So I've disabled the use of `simplify.sh`. Not sure if it could be modif

[2018-03-10 20:00] jcbf commented on #152
How are you using despf.sh ? do you use -s ?

[2018-03-11 11:56] jcbf commented on #152
Well, if you use -s to skip include expansion, those domains are shown first.  Then when the output is passed to `simplify.sh` the output is done in the following order:

- ip4 records
- ip6 records
- all other records

So, it's expected the behaviour you mentioned. There is no configurable option but you can pipe the output to a sort command like `./despf.sh | ./normalize.sh | ./simplify.sh | sor

[2018-03-11 18:28] lacostej commented on #152
Oh well. Didn't think of using sort... Thanks.

[2018-03-11 18:41] lacostej commented on #152
And to answer your question, yes I was using `-s`, that's how the `include` end up not being transformed and left last in `simplify.sh`. I was wondering if there was any reason for letting those entries last, the commit I referred to in the description (19ed7d5) didn't give me much context for the change.

[2018-03-21 20:01] jsarenik commented on #152
Hi @lacostej! Thanks for reporting this issue. What would you propose regarding the mentioned commit? Would you kindly describe a test that would check it works as you expect? Thanks.

[2018-03-22 06:01] lacostej commented on #152
@jsarenik just  explaining why `simplify` orders the output in the current order (ipv4, ipv6, rest) would be sufficient to me. Is it arbitrary or was there a particular reason for this?

[2018-03-22 07:14] jsarenik commented on #152
@lacostej as far as I know there is no particular reason for such ordering. As you properly noted, there's not much context in the mentioned commit either.

Ordering in general is very good (e.g. for filtering out repeated lines), but I'm not sure if there is any reason for this particular ordering.

@epf could you possibly have a look and add comment to your commit 19ed7d5?

[2018-06-14 13:36] MaartenUreel opened #153 ".spf-toolsrc ignored?"
Hello

I created a file `/root/.spf-toolsrc`:
[code]

If I run this from `/opt/spf-tools`, where I checked out your repository:
`./despf.sh | ./normalize.sh | ./simplify.sh | ./iprange.sh | ./mkblocks.sh | ./cloudflare.sh`
Absolutely nothing happens our appears.

It only works a bit if I specify it like this:
`./despf.sh spf-orig.our-domain.eu | ./normalize.sh | ./simplify.sh | ./iprange.sh | ./mk

[2018-06-14 14:09] jsarenik commented on #153
Hi! Let me have a look. I have not used the `cloudflare.sh` script for a while...

[2018-06-14 14:29] jsarenik commented on #153
@MaartenUreel Please try now. The patches are on `master` branch already.

[2018-06-14 14:29] jsarenik commented on #153
And thank you for reporting this!

[2018-06-14 14:30] jsarenik commented on #153
If it works for you, please close the issue.

[2018-06-14 14:30] MaartenUreel commented on #153
I just tried and I can confirm that it works. Thank you very much for responding so quickly and fixing this!

[2018-06-14 14:36] MaartenUreel commented on #153
Hmm, there seems to be something still off:

[code]

It did something with the correct domain since it fetched spf1.our-domain.eu, but then in the last phase it went to the default jasan.tk after all.

If I specify the domain to start off:
[code]

[2018-06-14 14:55] jsarenik commented on #153
@MaartenUreel yes, my fault. I moved the line that reads the spf-toolsrc, but then the defaults rode over the values from the rc file.

[2018-06-14 14:56] jsarenik commented on #153
@MaartenUreel please try dabbb75

[2018-06-14 15:06] MaartenUreel commented on #153
Nope:
[code]

Also if I run with the `mkzoneent`, it also gives the wrong domain:
[code]

[2018-06-14 15:16] jsarenik commented on #153
@MaartenUreel please check 64b980d

Seems you are the first one to really run this full chain of scripts :-)

[2018-06-14 15:22] MaartenUreel commented on #153
OK, the mkzoneent now returns the correct domains.

However, I still have to pass my spf-orig.our-domain.eu as a parameter to `despf.sh` while it is also in the config file.

The records are not being created / updated on CloudFlare neither though.. :)

[2018-06-14 15:23] jsarenik commented on #153
@MaartenUreel See 9811f7b

[2018-06-14 16:43] jsarenik commented on #153
@MaartenUreel See a5a2fa7 please

[2018-06-14 16:47] jsarenik commented on #153
@MaartenUreel See 99c683d

[2018-06-14 16:49] jsarenik commented on #153
[code]

[2018-06-14 16:55] jsarenik commented on #153
@MaartenUreel Thank you very much for bringing this up! It really needed some care.

[2018-06-14 20:19] MaartenUreel commented on #153
[code]

[2018-06-14 20:32] jsarenik commented on #153
Please try c1d1d46

Now it's too late. I will have a look tomorrow.

[2018-06-14 20:39] jsarenik commented on #153
You also do not need to supply the domain name on the command line of `despf.sh` anymore (given it is set either in `~/spf-toolsrc` or in environment variable `DOMAIN`).

[2018-06-15 06:59] MaartenUreel commented on #153
I can indeed drop the domain now, that part works. Cloudflare part not yet:

[code]

Btw, do you need to pipe through `mkzoneent.sh` before Cloudflare, or not? What format does it expect?

[2018-07-06 20:30] MaartenUreel commented on #153
Are you planning to do any work on this? Just to know, because otherwise I'll have to write some python scripts to take care of this :)

[2018-07-07 20:13] jsarenik commented on #153
@MaartenUreel excuse me for silence. I do not know how to reproduce the error since it works for me. I can have a look but please provide me with more details.

Maybe relevant output when you run everything with `sh -x` will help. There should be `DEBUG` environment variable used in most scripts so first try to `export DEBUG=1` and run the same way as you did before. If it doesn't help, add `sh -x

[2018-07-08 10:31] jsarenik commented on #153
@MaartenUreel please send me output of following:

[code]

[2018-07-08 11:37] jsarenik commented on #153
And to answer your question, piping through `mkzoneent.sh` is not needed. That script outputs the zone entries in format for ISC BIND DNS server.

[2018-07-08 12:32] jsarenik commented on #153
@MaartenUreel This works for me:

[code]

[2018-07-08 12:41] jsarenik commented on #152
@lacostej it this issue still alive?

[2018-07-08 19:33] jsarenik commented on #153
Oops. Reopening the automatic close and waiting for feed-back.

[2018-08-24 05:29] lacostej commented on #152
@jsarenik after looking at the commits made by @epf in Nov 2016 (https://github.com/jsarenik/spf-tools/commits/master?after=5e95140259a288dc9e73c82bc6862185f6de28c9+0, I think the change might have been 2 fold:
* add support for exists|ptr mechanisms
* add tests for those
* ensure some ordering to make testing easier

I am not sure at all there was a reason for ordering the elements more than that

[2018-08-24 05:29] #152 closed

[2019-07-30 01:50] mkearey opened #159 "mkblocks.sh -l creates TXT record longer than 255 characters. It COULD split them"
mkblocks.sh -l 350 potentially results in a TXT string longer than the DNS required 255 characters.

It would be a nice feature to be able to split strings as per the DNS 255 char requirement. I will see if I am able to modify it to do what I need and share it.

[2019-07-30 09:24] jsarenik commented on #159
The whole set of scripts was started because of the DNS 255 char requirement in SPF. I am wondering, maybe `mkblocks.sh` is already too far in the chain and does not cope with the length...?

[2019-07-30 09:29] jsarenik commented on #159
Oops, sorry, I misunderstood the question.

[2019-07-30 09:32] jsarenik commented on #159
That's why there is the `-l` parameter. When it is set to length over 255, it will go beyond the limit... Normal setting is 257 (i.e. 255 + two bytes for quotes `""`). Does it make sense?

To me it seems like complaining about the speed of car. When I go 170 MPH I may break the limit of 80 MPH, but then I chose to go 170 in the first place...

[2019-07-30 09:42] mkearey commented on #159
I suspect you are not aware of the capability - Its possible to exceed 255 CHARACTERS in an SPF TXT record, the strings cannot exceed 255. This explains it:

https://kb.isc.org/docs/aa-00356

ie you can have a record like so :

IN TXT "v=spf1...<total character length of this quoted string  255>" "continued txt record , total character length of this quoted string 255"

And so on.

OF COURSE this

[2019-07-30 09:55] jsarenik commented on #159
Aah, I see now. Thank you for explanation. I have not explored these options yet. Do you have any idea or a patch?

[2019-07-30 10:06] mkearey commented on #159
I have something rudimentary, I will have it ready  tomorrow :)  My shell scripting is POOR  but its close to working as I want it.  I will share it tomorrow.

[2019-07-31 06:56] mkearey commented on #159
Here is what I have SO FAR. The problem I am trying to solve is how to give awk  the $strlength variable value ( instead of hard wired 255)  NOTE I did it this way so as to introduce minimal bugs :) :

diff --git a/mkblocks.sh b/mkblocks.sh
index d5bb53d..9a72b5d 100755
--- a/mkblocks.sh
+++ b/mkblocks.sh
@@ -41,6 +41,7 @@ policy="~all"
 delim="^"
 header="v=spf1"
 length=257
+strlength=255
 start

[2019-07-31 12:30] jsarenik commented on #159
It's good, though if you want some more recognition, make a new branch and send this as a pull request. See what I have so far: https://github.com/spf-tools/spf-tools/tree/mkearey/255_characters

[2019-07-31 13:28] jsarenik commented on #159
@mkearey As for me, spf-tools/spf-tools@5fcfbd9483be45a97c596c1dd9f2888e01d7a0d6 is ready to fly. Do you want to change anything? OK to merge?

[2019-07-31 23:34] mkearey commented on #159
Greetings again I don't seem to have permission to push to the branch. So here is my finall patch.
I think there is no need for the ability to set string length on CLI. DNS will always have this 255 limit, and making it shorter has no benefit :)

[final255.txt](https://github.com/spf-tools/spf-tools/files/3454264/final255.txt)

[2019-08-01 16:17] jsarenik commented on #159
@mkearey you can always fork and send a pull request. Try it. I want your name in git history.

[2019-08-01 19:19] jcbf commented on #159
Just reading the code and not actually testing but,  @jsarenik
<img width="556" alt="image" src="https://user-images.githubusercontent.com/836049/62320910-5b85c480-b499-11e9-96cb-de46bef459d4.png">
I think you meant :

`    L) test -n "$OPTARG" && strlength=$OPTARG;;`

right ?

[2019-08-02 06:53] jsarenik commented on #159
Good catch! Thank you @jcbf !

[2019-08-02 21:32] jcbf commented on #159
Just a heads-up.

Also while looking ate cloudflare and route53 documentation,  cloudflare doesn't seem to support records bigger than 255 chars.
https://api.cloudflare.com/#zone-purge-files-by-cache-tags-or-host

Route53 seems to be OK.

Not sure if this should be handled with a warning or fail.

[2019-08-04 09:05] jsarenik commented on #159
@jcbf thanks! Addressed in latest commit (88c6157f98a6ab50d5c521f66eb2ae41b345bc55). https://api.cloudflare.com/#dns-records-for-a-zone-export-dns-records

[2019-08-08 19:30] jsarenik commented on #159
http://makeapullrequest.com/

[2019-11-19 17:58] jsarenik commented on #153
@MaartenUreel how does it work for you? May I close this issue, please?

[2019-11-19 17:59] jsarenik commented on #109
This does not seems to be really important. Closing.

[2019-11-19 17:59] #109 closed

[2020-05-25 06:57] dominicraf opened #162 "Simplify download install and setup instructions"
For those of us who aren't familiar with git and just want to use these scripts, please provide some simple instructions for how to install them.

[2020-05-25 09:24] jsarenik commented on #162
Hi @dominicraf! I totally understand what you mean. Let me first draft something here and according to your feed-back it may later go to the main documentation.

Nevertheless, all this has to be done in the terminal window. There is no GUI to spf-tools yet as far as I know.

 1. Download last release from https://github.com/spf-tools/spf-tools/releases
 1. Extract the downloaded file (either `zip`

[2020-05-25 10:48] dominicraf commented on #162
Thanks for the quick and helpful response, yes that was enough for me, I don't need a GUI! The context is that I am installing postwhite which uses despf.sh. It's all working well now, thanks.

[2020-05-25 12:54] jsarenik commented on #162
You are welcome. I am very happy it works for you.

[2020-05-27 19:26] edhgoose opened #163 "Prevent overwrite of other TXT records"
We're on AWS and we're using route53 for our DNS. We have an SPF and a Google Site Verification TXT record.

When we run `./despf.sh | ./simplify.sh | ./mkblocks.sh | ./route53.sh <our zone id>` we find the google-site-verification TXT record is removed.

Unfortunately, Google requires it to be in place - it seems to check it regularly.

I've fudged it manually in the short term by adding the foll

[2020-05-28 01:52] AlexCline commented on #163
The way I've done this in the past is to use a static SPF TXT record on the root domain that never changes. This record points to a subdomain that contains the TXT record that spf-tools continuously updates. For example:

`example.com. 1200 IN TXT "v=spf1 include:spf1.example.com -all"`
`spf1.example.com. 600 IN TXT "v=spf1 ip4:12.34.56.7 ip4:12.34.56.7 ...snip... include:spf2.example.com -all"`

[2020-05-31 09:55] jsarenik commented on #163
Hi @edhgoose ! Thank you for using spf-tools and I am happy you find it useful.

I do not have access to route53 to test, but I trust you on this. Please send a pull-request and I will be happy to merge it in if no one objects - mainly the original author who contributed `route53.sh`... (I mean @AlexClineBB == @AlexCline, later documentation fix by @gglockner).

Thank you all!

[2020-07-11 03:18] tsmanz opened #164 "jq error"
Thank you for creating this tool, it's exactly what I need. The only problem is I'm getting an error when using it to create/update cloudflare records.

When using ./runspftools.sh I get the error:

jq: error (at <stdin>:1): Cannot index string with string "id"
parse error: Invalid numeric literal at line 1, column 1760

Then later I get:

parse error: Invalid numeric literal at line 1, column 143

[2020-07-12 11:09] jsarenik commented on #164
I am happy you find it useful, @tsmanz !

Have you tried manual approach without using the `runspftools.sh` script? I mean by separately running only the scripts you need and if nothing else, omit at least the `cloudflare.sh` script (which is run as part of `runspftools.sh`). I have not used the `cloudflare.sh` script myself for years so I have no idea if it works.

[2020-07-14 05:58] tsmanz commented on #164
I tried the manual approach omitting cloudflare.sh and it seems to run fine. It would be great to be able to automate the update of cloudflare but I'm not that great at coding, is it something you would consider fixing up?

[2020-07-14 06:43] jsarenik commented on #164
Thanks for feedback. At the moment I can not work on it. Please note that you need to have the TXT records in Cloudflare set first, before calling the script to change them. I checked the API and it has not changed since so everything should work. I apologize it's a bit raw but that was the intention and it served me back in times when I needed it.

The `TOKEN` value in `$HOME/.spf-toolsrc` config

[2020-07-14 07:13] jsarenik commented on #164
It's all a bit different than I thought.

See following patch which makes it work for me:

[code]

[2020-07-14 07:14] jsarenik commented on #164
The change in `xsel.sh` is just an unrelated minor fix.

[2020-07-14 07:28] jsarenik commented on #164
@tsmanz Thank you for catching this! It was in currently unusable state before the fix. Let me know any feed-back or if I can merge as it is.

[2020-07-14 14:29] jsarenik commented on #164
@tsmanz please let me know if you are happy with the fix.

[2020-07-14 21:27] tsmanz commented on #164
Thank you so much for looking into this further. I'm sorry to say
the cloudflare.sh script is still not working for me. I cleared out the
previous git clone as well as the config file to start fresh but have had
no luck. It seems to be something to do with how the $idfile is generated
as it currently creates a blank file. I get the following error message
when running it as it can't find the id's.

[2020-07-15 03:18] tsmanz commented on #164
I have been doing some debugging and found a couple of things to update in the cloudflare.sh script to get it working.

I noticed the Auth-Email was left out of the apicmd so I added it back in

The line that sets $content was selecting the entire line rather than just the part starting with "v=spf1... so I changed the delimiter to \" as below.

  content=$(echo $line | cut -d \" -f2 | tr -d \")

[2020-07-15 05:05] jsarenik commented on #164
OK, so let's reopen this issue. Thanks for info.

`Auth-Email` is not to be used now. The `EMAIL` setting in `.spf-toolsrc` file is redundant. Sorry, I forgot to remove it.

[2020-07-15 23:32] tsmanz commented on #164
It seems the problem with extracting the DOMAIN_ID is a bug with the Cloudflare api and permissions.  I found a post on a Cloudflare forum saying that setting "Read" for a specific zone to get access to the id won't work. The way around it is setting the permissions for "Read" on all zones, then specifying exclude on any you don't want to include. After that I was able to get the zone id's. From t

[2020-07-17 01:14] tsmanz commented on #164
One final thing on this, I've made a notify.sh script that emails out successful or failed updates with the logs attached. It's not pretty but it gets the job done. Happy to send it through if you want to add it.

I also removed the part where the script runs every 5 minutes as I found it created multiple processes if I ran it in the background. Instead I use a cron job to run it which seems to wo

[2020-07-17 14:13] jsarenik commented on #164
You are very welcome. I am happy to see spf-tools is being helpful to you. And yes, please do not hesitate and send any patches/pull-requests. Have a nice weekend!

[2021-01-12 16:58] DanielWeigl commented on #163
Seems to be the same problem with the cloudflare script -> i solved it that way https://github.com/spf-tools/spf-tools/pull/167

[2021-01-14 12:17] jcbf commented on #163
I was reviewing this and set up a testing domain on AWS/route53.

Initially, I've implemented a "-a" switch an/ord an env variable to allow to specify additional TXT record using @DanielWeigl idea.
After, I realized that multiple arguments will be nice but for that, the best way to do it is using bash arrays.

@jsarenik , what do you think ?

[2021-02-02 20:25] jsarenik commented on #163
@jcbf Generally I am against using any bashisms, simply because some users run SPF-tools on plain *BSD which has another POSIX shell. Sorry for late reply.

[2021-02-02 20:34] jsarenik commented on #163
@jcbf Is it possible to achieve what you would need bash arrays for but just with [POSIX shell](https://pubs.opengroup.org/onlinepubs/9699919799/utilities/V3_chap02.html)?

[2021-02-02 20:40] jcbf commented on #163
Probably... I've just coded with arrays before realizing it's a bash only.
Let me look into it and leave it for you to  comment

[2021-02-02 21:45] jcbf commented on #163
I committed my WIP code in travis branch. It should be implemented in #170

[2021-02-06 21:06] jcbf commented on #163
@edhgoose This works for you?
Instead of keeping the non-SPF records, you must specify them.

[2021-02-08 16:42] edhgoose commented on #163
@jcbf perfectly. We've rolled this out into production. Thank you so much for doing this!

[2021-02-08 16:42] #163 closed

[2021-03-07 18:50] jsarenik commented on #164
@tsmanz Please paste the `notify.sh` script here or make a Pull Request. Thank you!

[2021-04-14 20:46] jsarenik opened #175 "Use shellcheck"
Consider using https://github.com/koalaman/shellcheck

[2021-05-12 19:53] #175 closed

[2021-12-13 02:57] rsuaver opened #180 "Allow custom prefix from config file"
Simple mod to allow PREFIX to come from config file..

[code]

[2022-03-05 06:07] tazboyz16 opened #181 "Not sure where to post this"
https://dmarcian.com/spf-survey/?domain=spf-orig.spf-tools.eu.org

Shows that you currently have a broken SPF record due to one of the IPv6 ranges does not have the SPF ip6 flag on it

v=spf1 ip4:178.40.0.0/15 ip6:2001:470:6e:200::/64 2001:470:6f:200::/64 include:mailgun.org include:_spf.google.com ~all

2001:470:6f:200::/64 is the "breaking" record

[2022-06-09 20:41] blackhold opened #182 "despf.sh google.com gives no output"
Hello,
I just have installed a server using modoboa and following the problem, I passed to postwhite that gived me to spf-tools. I found that /usr/local/bin/spf-tools/despf.sh google.com gives no output. Also I tried to use the cloned version of this repo and continues showing any output.

[code]

I'm using debian 11.3 inside an ovh cloud server. I have an other lxc server inside proxmox with debi

[2022-06-11 16:13] blackhold commented on #182
Found the problem: bind9-host was not installed

# apt -y install bind9-host

[2022-06-11 20:00] #182 closed

[2022-06-19 09:56] jsarenik commented on #182
I'm happy you solved it. The script should end with an error in the beginning if the `host` command is not available.

[code]

Hmm. A warning should be added...

[2022-06-19 09:57] jsarenik commented on #182
Now it says this:

[code]

Thank you for reporting!

[2022-06-27 16:33] blackhold commented on #182
Thanks you much for fixing it! ;) just installed a new modoboa installation and seems it is working (due bind9-host is installed) :)

[2022-06-30 10:18] jsarenik commented on #182
@blackhold You are welcome! Thanks again for reporting it. I thought it was already handled so it was good that this issue triggered me to really do it.

[2022-09-28 11:00] matteocorti commented on #159
Hi, any reason why the option was never merged in the main branch?

[2022-10-09 18:42] jsarenik commented on #159
@matteocorti https://github.com/spf-tools/spf-tools/issues/159#issuecomment-517357230 - I hoped for the author of the patch to claim its authorship (and maybe do some extra git, which I hoped will be helpful). But I may be the bottle-neck here, so let me merge now.

[2022-10-09 18:53] jsarenik commented on #159
@matteocorti Thanks for heads-up! Closing this issue, re-open if needed.

[2022-10-09 18:53] #159 closed

[2022-10-09 19:22] matteocorti commented on #159
Thanks!

[2022-10-30 12:34] jsarenik commented on #181
Thank you @tazboyz16 ! Fixed. It was a manually added record from which the rest was generated. Those records are mainly used for testing.

[2022-10-30 12:34] #181 closed

[2022-10-30 12:36] jsarenik commented on #180
@rsuaver Cool! Thank you!

[2022-10-30 12:39] jsarenik commented on #164
@tsmanz Closing this. Feel free to reopen if needed.

[2022-10-30 12:39] #164 closed

[2022-10-30 12:40] jsarenik commented on #162
@dominicraf Closing this issue now. Feelfree to reopen if needed.

[2022-10-30 12:40] #162 closed

[2022-10-30 12:41] #153 closed